<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Trading Manager</title>
</head>
<body>
  <div data-main class="spa"></div>
</body>
